@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply m-0 p-0;
}

a.active hr{
    display: block;
}

body
{
  background: #F5E8DF;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}

html.dark body {
  background-color: #262424; /* or any dark color you prefer */
  color: #ffffff;
}

/* Optional: handle text/link colors inside dark mode */
html.dark a {
  color: #e2e2e2;
}

html.dark p, html.dark h1, html.dark span, html.dark li {
  color: #ffffff;
}

html.dark .navlink {
  color: white;
}

html.dark * {
  border-color: white; /* Tailwind's border-gray-600 */
}

html.dark button {
  background-color: #a0522d; /* lighter brown for dark mode contrast */
  color: white;
}

html.dark .navbar-icon {
  filter: brightness(0) saturate(100%) invert(100%);
}